:root {
    --bg: #d8cccc;
    --bg-header: #d8a487;
    --font-color-header: #f9f3ed;
    --font-color: #7d665d;
    --font-color-accent: #3b2d26;
    --link-color: #c3845a;
}

    // $bg: #d8cccc;
    // $bg-header: #d8a487;
    // $font-color-header: #f9f3ed;
    // $font-color: #7d665d;
    // $font-color-accent: #3b2d26;
    // $link-color: #c3845a;
