.previewGallery {
    display: inline-block;
    width: 492px;
    position: relative;
    overflow: hidden;

    @media (max-width: 600px) {
        width: 330px;
    }

    @media (max-width: 400px) {
        width: 300px;
    }
    
    &Track {
        display: flex;
        position: relative;
        left: 164px;
        white-space: nowrap;
        transition: transform .5s ease-out;

        @media (max-width: 600px) {
            left: 110px;
        }

        @media (max-width: 400px) {
            left: 100px;
        }
    }

    &Preview {
        min-width: 154px;
        margin: 5px;
        height: 80px;
        border-radius: 5px;
        background: #a2a4ac;
        overflow: hidden;

        @media (max-width: 600px) {
            min-width: 100px;
            height: 60px;
        }

        @media (max-width: 400px) {
            min-width: 90px;
        }

        @media (max-width: 330px) {
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &Image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &Cover {
        display: flex;
        position: absolute;
        width: 164px;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        justify-content: center;
        align-items: center;
        font: 24px/1 Georgia;
        z-index: 2;
        background: rgba(203, 196, 200, .4);

        @media (max-width: 600px) {
            width: 110px;
            font-size: 20px;
        }

        @media (max-width: 400px) {
            width: 100px;
            font-size: 18px;
        }
    }
}

@media (max-width: 400px) {
    .Preview:first-child {
        margin-left: 0;
    }
    .Preview:last-child {
        margin-right: 0;
    }
}