.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    user-select: none;
    overflow: hidden;

    &Container {
        position: relative;
        margin-bottom: 5px;
    }

    &Navigation {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, 0);
    }

    &PreviewList {
        margin: 0 auto;
    }
}