.navigation {
    display: inline-flex;
    justify-content: center;
    gap: 15px;
    background: rgba(250, 244, 237, .4);
    border-radius: 5px;
    padding: 5px;

    &Btn {
        display: block;
        min-width: 45px;
        height: 45px;
        padding: 0;
        border: none;
        border-radius: 5px;
        background: #807f8c url(./img/arrow-left.svg) no-repeat center center; 
        text-indent: -1234em; 
        background-size: 52% auto;
        transition: opacity .3s, background-color .3s;
        cursor: pointer;

        &Right {
            background-image: url(./img/arrow-right.svg);
        }

        &:hover {
            opacity: 0.7;
        }

        &:disabled {
            background-color: transparent;
            cursor: default;
            opacity: 0.5;

            &:hover {
            opacity: 0.5;
        }
        }
    }
}