.icon-button {
    widows: 40px;
    height: 40px;
    // --size:40px;
    // min-width: var(--size);
    // height: var(--size);
    cursor: pointer;
    // margin-bottom: 40px;
}

.icon-button.left, 
.icon-button.left.disabled {
    width: 40px;
    height: 40px;
    background-image: url(../../assets/icons/pets-left.svg) center / 100% 100% no-repeat;
}

.icon-button.left:hover {
    background-image: url(../../assets/icons/pets_active-left.svg) center / 100% 100% no-repeat;
}

.icon-button.right
.icon-button.right.disabled {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    background-image: url(../../assets/icons/pets-right.svg) center / 100% 100% no-repeat;
}

.icon-button.right:hover {
    background-image: url(../../assets/icons/pets_active-right.svg) center / 100% 100% no-repeat;
}

.icon-button.left.disabled,
.icon-button.right.disabled {
    pointer-events: none;
}