.slider-wrap {
    position: relative;
    top: -30px;
}

.slider-actions {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 60px;
    top: -60px;
}

.slider {
    display: flex;
    gap: 4px;

    // border: 1px solid green;
}

.slide {
    flex: 1;
    flex-grow: 1;
    width: 60%;
    height: 400px;
    overflow: hidden;
    border: 1px solid var(--bg);
    border-radius: 10px;

    transition: .5s;

    // border: 1px solid red;
}

.slide.active {
    flex-grow: 10;
    box-shadow: 2px 4px 8px var(--font-color);
}

.slide img {
    width: 101%;
    height: 101%;
    object-fit: cover;
    object-position: center -1px;
}